.text {
  font-family: 'Marcellus', serif;
}
.text.center {
  text-align: center;
}
.text.black {
  color: black;
}
.text.white {
  color: white;
}
.text.gray {
  color: gray;
}
.text.upperCase {
  text-transform: uppercase;
}
.text.extraSmall {
  font-size: 10px;
}
.text.superSmall {
  font-size: 12px;
  line-height: 16px;
}
.text.small {
  font-size: 14px;
}
.text.medium {
  font-size: 16px;
}
.text.large {
  font-size: 18px;
}
.text.superLarge {
  font-size: 22px;
  line-height: 26px;
}
.text.extraLarge {
  font-size: 30px;
}
.text.logo {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
